// scss-Poke-start color-contrast
$black:       #000000 !default;
$white:       #ffffff !default;

// scss-Poke-start color-variables
$bug:         #739f40, $white;
$dark:        #707070, $white;
$electric:    #eed535, $black;
$fairy:       #fcb9e9, $black;
$fighting:    #d56724, $white;
$fire:        #fd7d25, $white;
$ghost:       #7b62a3, $white;
$grass:       #9bcb50, $black;
$ice:         #51c3e7, $white;
$normal:      #a3acaf, $white;
$poison:      #b97fc8, $white;
$psychic:     #f366b9, $white;
$rock:        #a38c22, $white;
$steel:       #9eb7b7, $white;
$water:       #4592c3, $white;

$dragon:      'linear-gradient(#54a4cf, #f16e58)', $white;
$flying:      'linear-gradient(#3cc7ef, #bcbab9)', $white;
$ground:      'linear-gradient(#f7de3f, #ab9843)', $black;

// scss-Poke-start colors-map
$colors-rgb: (
  'bug':      $bug,
  'dark':     $dark,
  'electric': $electric,
  'fairy':    $fairy,
  'fighting': $fighting,
  'fire':     $fire,
  'ghost':    $ghost,
  'grass':    $grass,
  'ice':      $ice,
  'normal':   $normal,
  'poison':   $poison,
  'psychic':  $psychic,
  'rock':     $rock,
  'steel':    $steel,
  'water':    $water
) !default;

$colors-gradient: (
  'dragon':   $dragon,
  'flying':   $flying,
  'ground':   $ground
) !default;
