@each $color, $value in $colors-rgb {
  .poke-bg-#{$color} {
    background-color: nth($value, 1) !important;
  }

  .poke-bg-#{$color}-alpha {
    background-color: rgba(nth($value, 1), 0.5) !important;
  }

  .poke-text-#{$color} {
    color: nth($value, 2) !important;
  }
}

@each $color, $value in $colors-gradient {
  .poke-bg-#{$color} {
    background-color: nth($value, 1) !important;
  }

  .poke-bg-#{$color}-alpha {
    background-color: rgba(#333333, 0.5) !important;
  }

  .poke-text-#{$color} {
    color: nth($value, 2) !important;
  }
}
